

.backGround{
    background-image: url('/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 100vh;
}


.mainHeader{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    padding-bottom: 16px;
    
}


.heroText{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: #fff;
    padding-bottom: 40px;
}

.wrapper{
    padding-top: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.catalogButton{
    border-radius: 12px;
    width: 276px;
    height: 44px;
    background-color: #3470FF;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 600;
    color: #fff;
    line-height: 1.25;
    font-size: 16px;
    border: none;
}



.catalogButton:hover{
    background-color: #0B44CD;

}