@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Pirata+One&family=Stack+Sans+Notch:wght@200..700&display=swap');



:root {
  /* Шрифти */
  --font-family: "Stack Sans Notch", sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  /* padding-right: 120px; */
  padding-left: 120px;
}

ul{
  list-style-type: none;
}